<div class="top-main">
    <img src="assets/bg1.jpg" class="img-fluid">
    <div class="back-films">
        <h1 class="display-4 title-single">{{film.title}}</h1>
    </div>
  </div>

<div class="container mb-5">
    <div class="row justify-content-md-center">
        <div class="col-md-12 single-body">
            <div class="row">
              <div class="row">
                <div class="col-md-4">
                  <img [src]="film.poster" class="img-fluid mx-auto d-block mb-3" alt="{{film.title}}">
                  <div class="plusinfo">
                    <ul>
                      <li>{{film.country}}</li>
                      <li>{{film.year}}</li>
                      <li>{{film.runtime}}</li>
                      <li>{{film.released}}</li>
                    </ul>
                    </div>
                </div>
                  <div class="col-md-8">
                    <div>
                      <p class="text-justify">{{film.plot}}</p>
                    </div>
                    <div>
                      <h5><strong>Director</strong></h5>
                      <p>{{film.director}}</p>
                    </div>
                    <div>
                      <h5><strong>Actors</strong></h5>
                      <p>{{film.actors}}</p>
                    </div>
                    <div>
                      <h5><strong>Awards</strong></h5>
                      <p>{{film.awards}}</p>
                    </div>
                    <div>
                      <h5><strong>Genres</strong></h5>
                      <p>{{film.genre}}</p>
                    </div>
                    <div class="text-center">
                        <div class="documents-tags documents my-5 clearfix">
                            <a href="#"><i class="fas fa-star-half-alt"></i>Ranking {{film.imdbRating}}</a>
                            <a href="#"><i class="fas fa-vote-yea"></i>Vote</a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="documents-tags documents my-5 clearfix">
              <a [routerLink]="['/films']">Back to Films List</a>
            </div>
        </div>
      </div>
      
      
      