<div class="container mb-5">
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <div class="row mt-5">
                <div class="my-5">
                    <h1 class="display-4">{{film.title}}</h1>
                    <hr>
                    <div class="row">
                  <div class="col-md-4">
                    <img [src]="film.poster" class="img-fluid mb-2" alt="{{film.title}}">
                    
                  </div>
                  <div class="col-md-8">
                    <div>
                      <h3><strong>Synopsis</strong></h3>
                      <p class="text-justify">{{film.plot}}</p>
                    </div>
                    <div>
                      <h3><strong>Director</strong></h3>
                      <h5>{{film.director}}</h5>
                    </div>
                    <div>
                      <h3><strong>Actors</strong></h3>
                      <h5>
                        <ul>
                          <li>{{film.actors}}</li>
                        </ul>
                      </h5>
                    </div>
                    <div>
                      <h3><strong>Year</strong></h3>
                      <h5>{{film.year}}</h5>
                    </div>
                    <div>
                      <h3><strong>Genres</strong></h3>
                      <ul>
                        <li>
                          <h5>{{film.genre}}</h5>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="btn btn-info float-right rounded-0" [routerLink]="['/films']">Back to Films List</a>
        </div>
      </div>
      
      
      