<div class="container mb-5">
        <div class="row justify-content-md-center">
          <div class="col-md-12">
            <div class="row">
      
                <div class="col-md-5">
                    <h3>{{ item.title }}</h3>
                  <img class="img-fluid mx-auto" [src]="item.poster" alt="{{item.title}}" width="220px" height="auto">
                </div>
                <div class="col-md-7">
                  <h2 class="text-center mt-3 bg-success p-2">{{ item.votes }}</h2>
                  <a href (click)="voteUp()" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-circle-arrow-up"></span>UpVote
                  </a>
      
                  <a href (click)="voteDown()"class="btn btn-info btn-lg">
                      <span class="glyphicon glyphicon-circle-arrow-down"></span>DowmVote
                    </a>
                </div>
              </div>
      
          </div>
        </div>
      </div>
      
      
      
      
      
      